.currency__converter {
  box-shadow: 0 10px 20px 0 #b3bbc673;
  padding: 30px;
  margin-top: 30px;
  border-radius: 12px;
  width: 560px;
  margin: 30px auto;
}
.currency__converter .heading {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.currency__converter .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.currency__converter .amount__container {
  margin-top: 30px;
}
.currency__converter .amount__container label {
  font-size: 20px;
}
.currency__converter .amount__container input {
  width: 200px;
  padding: 10px;
}
.currency__converter .convert__btn {
  display: flex;
  justify-content: space-between;
}
.currency__converter .converted__amount {
  margin-top: 30px;
  text-align: center;
}
.currency__converter .btn {
  font-size: 18px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}
.currency__converter .date__addition {
  margin-top: 30px;
}
.currency__converter .date__addition label {
  font-size: 20px;
}
.currency__converter .date__addition input {
  width: 200px;
  padding: 10px;
}
